AUTH_SECRET=replace-with-a-long-random-string
AUTH_URL=https://mikublob.vercel.app

GOOGLE_CLIENT_ID=1045382333142-t5cvbt3l5b7eid0vlb08p4eulrg9ppc8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace-with-google-secret

GITHUB_ID=Iv23lieAlAQIasSAbPqf
GITHUB_SECRET=replace-with-github-secret

DATABASE_URL=replace-with-postgres-url
